body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,f7f7f7+100 */
  background: #feffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #feffff 0%, #f7f7f7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #feffff 0%, #f7f7f7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #feffff 0%, #f7f7f7 100%);
  padding: 0;
  margin: 0;
}
svg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.link {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
#link {
  fill: blue;
}
#nofollow {
  fill: blue;
}
#embed {
  fill: grey;
}
#reference {
  fill: lightgrey;
}
.link.link {
  stroke: blue;
}
.link.embed {
  stroke: grey;
}
.link.filter {
  stroke: lightgrey;
}
.link.reference {
  stroke: lightgrey;
}
.link.nofollow {
  stroke-dasharray: 0, 2 1;
}
circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}
text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.legend {
  font-family: sans-serif;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: auto;
  padding: .5em;
  position: absolute;
  text-transform: uppercase;
  top: 15px;
  left: 15px;
  letter-spacing: 0.1em;
  transition: all 0.5s ease;
  padding: 10px;
}
.legend:hover {
  background: #ffffff;
  box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.2);
}
.legend h3 {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 21px;
}
.legend p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 10px;
}
.legend p:last-of-type {
  margin-bottom: 0px;
}
.legend .embed {
  color: grey;
  font-weight: bold;
}
.legend .link {
  color: blue;
  font-weight: bold;
}
.legend .nofollow {
  color: blue;
  font-weight: bold;
}
.legend .reference {
  color: lightgrey;
  font-weight: bold;
}
body > svg > g:nth-child(3) > circle:nth-child(1) {
  fill: black;
}
body > svg > g > circle:hover {
  filter: drop-shadow(5px 5px 5px black);
}
